download/*
fancybox/*
framwork/*
images/*
logo/*
periodical/*
PHPMailer/*
phpMyAdmin/*
pictures/*
slideshow/*
SpryAssets/*
conn/*
connect.php
mail.php
*.png
*.PNG
*.doc
*.DOC
*.docx
*.gif
*.jpg
*.jpge
*.pdf
*.srt
*.csv
*.JPG
*.bmp
*.BMP
*.ppt
*.pptx
*.xls
*.rtf
*.RTF
